<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <% if @logo_organization.present? %>
      <%= link_to root_path, class:"navbar-brand fw-bold text-primary" do %>
        <%= image_tag(@logo_organization, style:"width: 5rem;") %><%= @organization.name %>
      <% end %>
    <% end %>

    <!-- Кнопка бургера -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Меню -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class:"nav-link" do %>
            Главная
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Услуги', root_path + '#services', class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'О нас', root_path + '#abouts', class:"nav-link" %>
        </li>
        <li class="nav-item">

          <%= link_to 'Контакты', root_path + '#contacts', class:"nav-link" %>
        </li>
      </ul>

      <a href="#" class="btn btn-success">
        Вызвать мастера
      </a>
      <% if user_signed_in? && current_user.admin == true %>
        <%= link_to backoffices_path, class:"btn btn-primary" do %>
          Админка
        <% end %>
      <% end %>
    </div>

  </div>
</nav>
