<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Vladservicecenter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

    <style media="screen">
      html, body {
        height: 100%;
        margin: 0;
      }

      .wrapper {
        min-height: 84.6vh;       /* вся высота экрана */
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;                /* занимает всё свободное место */
      }

      .footer {
        background: #333;
        color: white;
        padding: 20px;
      }
    </style>

  </head>

  <body>
    <div class="wrapper">
      <main class="content">

    <%= yield %>
      </main>
    </div>
    <footer class="bg-dark text-white text-center py-4 footer">
      © <%= Time.now.year %> Профессиональный сервис бытовой техники. Все права защищены.
    </footer>
  </body>
</html>
